<div class="panel panel-default">
  <div class="panel-heading">
     <h3 class="panel-title"><%=@issue.title%></h3>
  </div>
  <div class="panel-body">
    <p><strong>repo:</strong> <%=@issue.repository.name.gsub("-", " ").titleize%></p>
    <p><strong>assignee:</strong> <%=@issue.assignee || 'n/a'%></p>
    <p><strong>opened at:</strong> <%=@issue.opened_on%></p>
    <p><strong>opened by:</strong> <%=@issue.opened_by%></p>
    <p><strong>content: </strong><%=@issue.content%></p>
    <p><%=link_to "view on github", @issue.url%></p>
  </div>
</div>