<div class="jumbotron profile">
  <h1 id="profile-name"><image src="<%=@user.avatar_url%>" id="profile-avatar"> Hi, <%=@user.name%></h1>
  <p>github username: <%=link_to @user.github_username, "https://github.com/#{@user.github_username}", target: "blank"%></p>
  <p>email: <%=@user.email%></p>
  <p data-id="phone-number" data-user="<%=@user.id%>" data-select="phone-edit-parent">
    <%= render partial: "users/phone_number", locals: {user: @user}%>
  </p>
</div>

<div style="text-align: center; margin-bottom: 2%;">
  <%=render partial: 'repositories/modal'%>
</div>
 
<div data-id="repo-list">
  <%= render partial: "repositories/repos", locals: {repositories: @user.repositories}%>
</div>
<div id="errors" style="margin-bottom: 5%">
</div>


